*{
    box-sizing: border-box;
}

body{
    background:url("../imgs/wallp.jpg");
    background-attachment: fixed;
    background-size: cover;
    color:#000000;
    font-family: "Text", serif;
    margin: 0;
    text-align: justify;
}

div.header{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

.title{
    background:linear-gradient(90deg,navy,#1084d0);
    border: 1px solid darkgray;
    box-shadow: 0 0 2px black;
}

.titletext{
    color:#fdffff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 0.2rem;
}

.decorations button{
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    background:#c3c3c3;
    font-family: "Text", sans-serif;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-right: 0.4rem;
    border:2px solid darkgray;
    border-bottom:2px solid gray;
    border-right:2px solid gray; 
}

.decorations button:active{
    border:2px solid gray;
    border-bottom:2px solid darkgray;
    border-right:2px solid darkgray;
}
.window{
    margin-top:2rem;
}
.body{
    text-align: justify;
    background-color: 
    #c3c3c3;
    padding: 1rem;
    border: 1px solid darkgray;
    height: 20rem;
    box-shadow: 0 0 2px black;
}

.body h1{
    text-align: center;
    font-family: "Title", sans-serif;
}
#avatar{
    width: 10rem;
    height: 10rem;
}
a{
    color: #010081 ;
    cursor: pointer;
}
.text{
    display: flex;
}

.contacts{
    height: 20rem;
}

.text p{
    margin-left: 1rem;
    text-align: justify;
    font-size: 14pt;
}

.centertext{
    text-align: center;
    display: block;
}

#contacts{
    text-align: center;
}

.projects{
    height: 15rem;
}

.buttons{
    display: flex;
    justify-content: center;
}
.buttons button{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    height: 2.5rem;
    width:6rem;
    font-family: "Title", sans-serif;
    background:#c3c3c3;        
    border:2px solid darkgray;
    border-bottom:2px solid gray;
    border-right:2px solid gray;
}
          

.bottoni:hover{
    cursor:pointer;
}

.bottoni:active{
    border:2px solid gray;
    border-bottom:2px solid darkgray;
    border-right:2px solid darkgray;
}

.bottoni a:hover{
    cursor:normal    ;
}

@media  screen and (max-width: 55rem) {
    #avatar{
        display: block;
        margin: 0 auto;
    }
    .text{
        display: block;
    }

    .body{
        height: 40rem;
    }
    .contacts{
        height: 22rem;
    }
    .projects{
        height: 19rem;
    }
}

@font-face {
    font-family: "Title";
    src: url("../fonts/font.ttf");
}

@font-face {
    font-family: "Text";
    src: url("../fonts/text.otf");
}


